In [44]:
import pandas as pd
from sklearn import linear_model

In [45]:
train_df = pd.read_csv("data/train.csv")
test_df = pd.read_csv("data/test.csv")

In [37]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [38]:
train_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [39]:
df.columns

NameError: name 'df' is not defined

In [7]:
unique_count_list = []
for i in train_df.columns:
    unique_count_list.append(len(train_df[i].unique()))

In [8]:
df_unique = pd.DataFrame({"column_name": list(train_df.columns),"unique_count":unique_count_list})

In [9]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also     
    print()

In [10]:
null_lot = train[train["LotFrontage"].isnull()]
train[train.fillna(0)["LotFrontage"].isnull()]

NameError: name 'train' is not defined

In [40]:
# turns categorical columns into one hot encoded values and appends as
# additional dimensions 
numeric_train = pd.get_dummies(train_df).fillna(0)
X_train = numeric_train.drop(columns="SalePrice")
Y_train = pd.get_dummies(train_df)["SalePrice"]

numeric_test = pd.get_dummies(test_df).fillna(0)
X_test = numeric_test.loc[:, numeric_test.columns]

In [41]:
print(len(test_df.columns))

80

In [42]:
# Quick fix: train set categorical columns had values non-existent in the test set. 
# Said columns are removed from train set data in order to run predict method
missing_columns = list(set(X_train.columns) - set(X_test.columns))
X_train = X_train.drop(missing_columns, axis=1)

In [43]:
reg = linear_model.LinearRegression()
reg.fit(X_train, Y_train)
reg.coef_

array([ 4.32033237e-01, -1.13303303e+02, -3.80342999e+01,  5.34832200e-01,
        7.83602300e+03,  5.30346826e+03,  2.26481799e+02,  6.29512746e+01,
        2.50863851e+01,  3.98014288e+00,  5.00719357e+00, -2.37812461e+00,
        6.60919613e+00,  2.07032486e+01,  3.22720210e+01, -3.07314114e+01,
        2.22437318e+01,  3.78810217e+03,  7.57174134e+02,  5.84888289e+03,
        1.08357363e+03, -3.14273436e+03, -1.24503814e+04,  2.73559886e+03,
        4.20874673e+03, -4.25570548e+01,  1.02692632e+04,  1.45219700e+00,
        1.92485738e+01,  7.27843679e+00,  1.46448174e+00,  4.82531361e+01,
        2.95222192e+01,  7.60484554e+01,  3.16139101e+00, -3.54651109e+02,
       -7.21066819e+02, -2.42673933e+04,  1.15990845e+04,  3.99338393e+03,
        6.12234758e+03,  2.55257733e+03, -1.51876368e+04,  1.51876368e+04,
        1.33337598e+03,  3.43166361e+03,  2.51760641e+03,  5.12296083e+03,
       -1.21717818e+04,  4.53121457e+03, -6.95534925e+03,  6.38211737e+03,
       -4.62964790e+03,  5.20287979e+03,  6.28490236e+04,  3.61475245e+03,
        1.45708043e+04, -5.70748621e+03, -1.44667302e+04,  1.98865961e+03,
        2.47009586e+03,  9.66127155e+03, -1.21313674e+04,  1.79045899e+03,
       -1.78930600e+03,  2.56004606e+03, -4.47656298e+03, -1.08171876e+04,
       -5.14895781e+03,  1.70818905e+04, -1.94588516e+04, -9.42699734e+03,
       -1.03852930e+04, -6.95583384e+03, -1.67518091e+04, -1.40866363e+04,
        8.02254829e+03, -1.69771181e+04,  3.70697013e+04,  2.84965126e+04,
       -1.35227467e+04, -4.47147909e+03, -1.04032139e+04,  3.68112419e+01,
        4.65904964e+03,  4.63317874e+04, -4.19880505e+03,  2.82199235e+03,
       -7.03886277e+03,  6.38855450e+02,  1.05893912e+04,  4.52631299e+03,
        8.79993391e+03, -1.59148774e+04,  6.43590176e+03, -9.73899435e+03,
        1.70233922e+03,  1.43212934e+04,  1.00911792e+04,  9.13389185e+02,
        6.80564031e+04, -1.89197594e+05,  7.09674313e+03,  9.30126521e+03,
        3.09483524e+03, -1.14309473e+04, -8.06189625e+03,  1.43028565e+04,
        2.40315109e+04,  2.11672769e+04,  4.47517826e+03,  8.11026102e+03,
        1.53772653e+04,  2.19860534e+04,  5.05781424e+04, -2.22703776e+04,
       -1.64973899e+04, -2.10144921e+04, -8.78643819e+03,  1.79905554e+04,
        1.13221582e+05,  5.39125446e+04,  1.08342670e+05,  1.77735904e+05,
        1.40362563e+04, -1.29349029e+04, -5.94932238e+03,  1.62602773e+04,
        7.99162500e+03,  5.60956011e+03, -1.57071111e+03,  4.39756401e+03,
        4.83257327e+03, -7.15844916e+02, -2.95670926e+02, -3.12713432e+03,
       -2.06762506e+02,  1.40021707e+04,  2.05382467e+04,  1.56340403e+04,
        2.03183257e+04,  7.99162500e+03,  2.22501943e+04,  2.06460074e+04,
        2.97570189e+04,  1.97890347e+04,  1.67957766e+04, -2.05664128e+03,
        4.92641720e+03,  2.43158981e+04,  2.34914731e+04,  1.39146252e+04,
       -7.16341259e+03, -2.06502604e+03,  3.37201457e+03,  3.97338306e+03,
        1.05983956e+04,  4.14025872e+03, -6.79965603e+03, -7.93899824e+03,
       -4.76783532e+03,  2.94309200e+03, -1.59664119e+03,  2.10615358e+03,
        1.31523092e+03,  2.57162166e+03,  6.26666465e+03,  6.30693227e+03,
       -9.97033982e+03,  1.17760123e+04, -1.69508911e+04,  1.87507068e+04,
        2.42622676e+03, -2.15015220e+03,  1.01963579e+03, -4.76296203e+03,
       -4.11228922e+03,  2.83953132e+04,  5.26355155e+02,  1.07166129e+04,
        2.59316768e+04,  7.27160668e+03,  4.72420156e+03,  3.38215847e+03,
        3.43810460e+03,  8.57215449e+03,  7.25218736e+02,  4.49660518e+03,
       -5.67824343e+02, -9.13241601e+03, -1.46177358e+04,  1.82749341e+03,
       -1.77022529e+04, -1.24409611e+04, -9.06341181e+03,  2.32865453e+04,
        3.12870946e+04,  1.84601298e+04,  4.03624949e+04,  4.58770961e+03,
        3.94329858e+03,  2.93956603e+02, -1.04459959e+04,  1.62103108e+03,
       -5.81969237e+02,  5.81969238e+02,  1.41921730e+03,  2.46525434e+03,
        1.11055581e+04, -2.38606176e+03,  1.82017089e+04, -5.62979107e+03,
       -6.68691502e+03, -5.88500285e+03,  5.48991562e+03,  2.17833964e+03,
        8.06837480e+03,  1.15875791e+04,  1.27752814e+04, -6.13701117e+04,
        2.12706212e+04, -1.70299438e+03, -5.24528272e+03, -2.03166785e+03,
        7.38111245e+03, -8.79250208e+02,  2.17065981e+04,  4.09978727e+04,
        4.78241203e+04,  4.07209526e+04,  4.69651124e+04,  4.21858977e+04,
        8.16051713e+04,  7.83858273e+04,  8.04095551e+04, -1.24845181e+05,
       -1.08456536e+05, -1.45199559e+05, -1.15736046e+05, -4.01326980e+04,
        6.82284266e+04,  7.45813867e+04,  7.02764647e+04,  6.74469737e+04,
       -1.14242217e+02, -1.29658083e+03,  1.41082304e+03,  1.09358553e+05,
       -1.28432086e+05, -6.64336940e+03, -2.70546174e+03,  1.81783429e+02,
       -6.38872813e+03, -7.07715862e+04,  4.75413996e+03, -2.01333296e+03,
       -1.27811410e+04,  6.61125087e+03,  1.72679050e+04,  5.41306687e+03,
       -7.28745356e+03, -1.46909806e+04,  2.16053217e+04, -2.36052857e+03,
       -1.37774406e+04, -2.22600123e+03, -3.17812877e+03,  1.47363748e+04,
        9.24818327e+02,  5.72228974e+03, -1.59793529e+04])

In [19]:
preds = reg.predict(X_test)

In [20]:
len(preds)

1459

In [21]:
len(X_test["Id"])

1459

In [ ]:
test_df["Condition2"].unique()

In [ ]:
train_df["Condition2"].unique()

In [12]:
submit_df = pd.DataFrame({"Id":X_test["Id"], "SalePrice":preds})

In [15]:
submit_df.to_csv('C:\\Users\\Binyamin\\PythonProjects\\housing_prices_predictor\\submit_df.csv')

In [14]:
pwd

'C:\\Users\\Binyamin\\PythonProjects\\housing_prices_predictor'

In [16]:
ls

 Volume in drive C is Acer
 Volume Serial Number is BA05-5E0F

 Directory of C:\Users\Binyamin\PythonProjects\housing_prices_predictor

02/18/2020  12:13 PM    <DIR>          .
02/18/2020  12:13 PM    <DIR>          ..
01/01/2020  07:30 PM                26 .gitignore
01/19/2020  10:47 PM    <DIR>          .ipynb_checkpoints
02/18/2020  12:13 PM            85,600 bens_notebook.ipynb
01/01/2020  07:37 PM    <DIR>          data
01/19/2020  10:47 PM            80,049 jr_notebook.ipynb
01/07/2020  08:11 PM               523 resources.txt
02/18/2020  12:13 PM            42,095 submit_df.csv
               5 File(s)        208,293 bytes
               4 Dir(s)  31,999,660,032 bytes free

In [17]:
pd.read_csv('sample_submission.csv')

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
5     1466  177150.989247
6     1467  172070.659229
7     1468  175110.956520
8     1469  162011.698832
9     1470  160726.247831
10    1471  157933.279456
11    1472  145291.245020
12    1473  159672.017632
13    1474  164167.518302
14    1475  150891.638244
15    1476  179460.965187
16    1477  185034.628914
17    1478  182352.192645
18    1479  183053.458214
19    1480  187823.339254
20    1481  186544.114328
21    1482  158230.775205
22    1483  190552.829321
23    1484  147183.674872
24    1485  185855.300905
25    1486  174350.470677
26    1487  201740.620691
27    1488  162986.378896
28    1489  162330.199086
29    1490  165845.938617
...    ...            ...
1429  2890  160515.850579
1430  2891  192167.621096
1431  2892  178751.551083
1432  2893  198678.894117
1433  2894  164553.120272
1434  2895  156887.932862
1435  2896  164185.777306
1436  2897  212992.120631
1437  2898  197468.550533
1438  2899  180106.843740
1439  2900  183972.071057
1440  2901  245283.198338
1441  2902  170351.963411
1442  2903  195596.307707
1443  2904  189369.756330
1444  2905  223667.404552
1445  2906  169335.310624
1446  2907  167411.028352
1447  2908  187709.555004
1448  2909  196526.002999
1449  2910  137402.569856
1450  2911  165086.775062
1451  2912  188506.431412
1452  2913  172917.456816
1453  2914  166274.325226
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [18]:
submit_df

        Id      SalePrice
0     1461  106251.763331
1     1462  120550.481469
2     1463  177591.853297
3     1464  191063.139325
4     1465  207688.007135
5     1466  168938.572818
6     1467  176193.072837
7     1468  157819.826171
8     1469  209268.871338
9     1470  121814.582901
10    1471  147756.162013
11    1472  104681.463353
12    1473   94799.792500
13    1474  143629.017046
14    1475  102611.920359
15    1476  373775.664479
16    1477  262566.456390
17    1478  329985.940092
18    1479  321051.142176
19    1480  465548.302817
20    1481  311972.202131
21    1482  215461.453000
22    1483  171569.283382
23    1484  165523.575359
24    1485  195457.352296
25    1486  188765.391303
26    1487  332281.591847
27    1488  219531.870987
28    1489  199561.345797
29    1490  249365.250937
...    ...            ...
1429  2890   82063.294139
1430  2891  149821.645967
1431  2892    3755.721665
1432  2893   65660.793260
1433  2894    4180.681537
1434  2895  343663.857561
1435  2896  284498.425123
1436  2897  223512.382020
1437  2898  132555.133505
1438  2899  210961.601974
1439  2900  168154.731622
1440  2901  184302.271286
1441  2902  173976.219967
1442  2903  309384.940106
1443  2904  352075.367819
1444  2905   72618.096736
1445  2906  200325.763579
1446  2907  102672.548574
1447  2908  123316.414584
1448  2909  136252.752572
1449  2910   75462.257957
1450  2911   77738.474303
1451  2912  159814.809764
1452  2913   75000.960474
1453  2914   65086.552734
1454  2915   80982.030574
1455  2916   83319.982566
1456  2917  168937.696437
1457  2918  109793.619001
1458  2919  224733.176375

[1459 rows x 2 columns]